<tr>
  <td><span class="more-important"><%= status.service %></span>
    <br/><span class="less-important"><%= status.description %></span>
  </td>
  <td class="text-right"><%= status.status %></td>
</tr>
